.container {
  padding-left: 32px;
  padding-right: 32px;
}

.messageContainer {
  margin-top: 16px;
  margin-bottom: 16px;
  /* margin-left: 8px; */
  /* margin-right: 8px; */
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  background-color: rgb(234, 245, 255);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
}

.messageTitle {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
  color: #05264c;
}
